.root {
	-fx-base: #8d6e63;
	-fx-background: #8d6e63;

    /* make controls (buttons, thumb, etc.) slightly lighter */
    -fx-color: derive(-fx-base, 10%);
    
    -color-dark: #260e04;
}

.view { 

	-fx-pref-width: 1024;
	-fx-pref-height: 768
}

.appbar {
	-fx-background-color: #260e04;
	-fx-padding: 16 16 16 16;
	-fx-spacing: 24;
	-fx-pref-width: 200;
	-fx-pref-height: 56;
}

.appbar-title {
	-fx-text-fill: white;
	-fx-font-size: 2.0em;
	-fx-font-weight: bold;
}
.appbar .button, .appbar .menu-button  {
/* -fx-background-color: -color-dark; */ 
	-fx-content-display: GRAPHIC_ONLY;
	-fx-pref-width: 24;
	-fx-pref-height: 24;
}

.appbar .button:hover {
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
}
.appbar-nav-icon {
}

.appbar-action-items {
	-fx-spacing: 24;
	
}

.appbar-action-items .button {
	-fx-content-display: GRAPHIC_ONLY;
}

.gridpane {
	-fx-hgap: 8;
}
.toolbar {
	-fx-spacing: 4;
	-fx-background-color: #6a4f4b;
	-fx-alignment: CENTER_LEFT;
	-fx-padding: 8 4 8 4;
	-fx-pref-height: 40;
	-fx-min-height: 40;
}

.toolbar > .button {
	-fx-content-display: GRAPHIC_ONLY;
}

.glasspane {
	-fx-background-color: BLACK;
	-fx-opacity: 0.5;
}