/*
 * Id: bigeurope
 * Name: bigeurope
 * Author: 
 * Description: null
 * Last Updated: 2021-11-13T11:32:18.839359Z
 */

.board {
	-background-image: url("");
}

#s1 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#s2 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#s3 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#s4 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#s5 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#s6 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#s7 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#s8 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#s9 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#b1 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#b2 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#b3 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#b4 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#b5 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#b6 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#b7 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#b8 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#b9 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#b10 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#b11 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#b12 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#sp1 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#sp2 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#sp3 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#sp4 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#sp5 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#sp6 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#sp7 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#sp8 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#sp9 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#sp10 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#sp11 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#sp12 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#sp13 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#sp14 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#sp15 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#sp16 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#sp17 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#por1 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#por2 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#por3 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#por4 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#f1 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#f2 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#f3 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#f4 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#f5 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#f6 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#f7 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#f8 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#f9 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#f10 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#f11 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#f12 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#f13 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#f14 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#f15 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#f16 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#bl1 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#bl2 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#bl3 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#bl4 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#na1 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#na2 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#na3 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#na4 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#na5 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#na6 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#na7 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#na8 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#na9 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#na10 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#e1 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#e2 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#e3 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#e4 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#e5 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#e6 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#e7 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#j8 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#e9 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#e10 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#e11 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#t1 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#t2 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#t3 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#t4 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#t5 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#t6 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#t7 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#t8 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#t9 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#t10 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#t11 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#t12 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#t13 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#gc1 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#gc2 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#gc3 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#gc4 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#gc5 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#gc6 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#gc7 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#gc8 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#gc9 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#gc10 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#gc11 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#gc12 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#r1 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#r2 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#r3 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#r4 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#r5 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#r6 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#r7 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#r8 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#r9 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#r10 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#r11 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#r12 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#r13 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#r14 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#r15 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#r16 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#r17 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#r18 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#gm1 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#gm2 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#gm3 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#gm4 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#gm5 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#gm6 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#gm7 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#gm8 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#pol1 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#pol2 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#pol3 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#pol4 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#pol5 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#pol6 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#pol7 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#pol8 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#pol9 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#pol10 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#gg1 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#gg2 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#gg3 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#gg4 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#ah1 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#ah2 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#ah3 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#ah4 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#ah5 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#ah6 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#ah7 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#ah8 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#ah9 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#ah10 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#ah11 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#ah12 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#ah13 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#ah14 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#ah15 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#ah16 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#pru1 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#pru2 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#pru3 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#pru4 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#ni1 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#ni2 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#ni3 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#ni4 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#ni5 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#ni6 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#si1 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#si2 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#si3 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#si4 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#si5 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}

#si6 {
	-indicator-x: 0.0;
	-indicator-y: 0.0;
	-indicator-size: 10.0;
	-territory-shape: "M10,10 L190,10 L100,190 z";
}


